<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274720969879-u67l6hhsrlcm32f6hrssn3lnu04qupes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274720969879-u67l6hhsrlcm32f6hrssn3lnu04qupes</string>
	<key>API_KEY</key>
	<string>AIzaSyDTSh9hynXXsHSbp4FgVIAmBph64ZCgCSI</string>
	<key>GCM_SENDER_ID</key>
	<string>274720969879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-72f62</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-72f62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274720969879:ios:b41cbe9bb72b8a4305c5d2</string>
</dict>
</plist>